__pycache__/
*.py[cod]
*$py.class

.env
.env.*
.venv/
venv/

.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.vscode/
.idea/

wandb/
outputs/
databases/
logs/
runs/

data/*/processed/

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-shm
*.db-wal

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db